@font-face {
    font-family: "outfit";
    src: url("./Outfit-VariableFont_wght.ttf")
}

* {
    margin: 0;
    font-family:'outfit';
/*    outline: 1px solid limegreen !important;   */
    box-sizing: border-box;
}

h1 {
    font-size: clamp(1.4rem, 2.5vw, 2.2rem)
}

/*
p {
    font-size: 0.9rem; 
} */    

/* Header Section */
header {
    padding: 5px;
    background-color: #111e51;
    font-size: clamp(0.6rem, 0.8vw, 0.9rem);
}

header > .header-elements {
    display: flex;
    justify-content: flex-end;
    border: 1px solid;
}

.header-elements > button {
    margin: 10px 10px; 
}

.header-elements > p {
    color: white;
    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

button {
	background: #0945c4;
	color: white;
    padding: 8px 30px;
    font-size: 0.7rem;
	border: none;
	border-radius: 3px;
    cursor: pointer;
}
i {
    color: #111e51;
    padding-right: 1px;
    margin-left: -3px; 
}
/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
    padding-left: 5%;

}
  
  /* Links inside the navbar */
.navbar > ul > li > a {
    float: left;
    font-size: 12px;
    color: #111e51;
    text-align: center;
    padding: 2px 16px; 
    text-decoration: none;
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 5px;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color: #111e51;
    padding: 14px 19px; 
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #0945c4;
  }
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar > ul > li > img {
    height: 50px;
    margin: -20px -5px;
    padding-right: 10px;
}

.navbar > ul > li {
    display: block;
    float: left;
    text-align: center;
    padding: 16px 16px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

  /* Top left text */
  .top-left {
    position: absolute;
    top: 35%;
    left: 1%;
    text-align: justify;
    margin-left: 60px;
  }
  .top-left > h1 {
    font-weight: 1;
   padding-bottom: 10px;
   font-size: 3vw;
  }

  .top-left > p {
    font-weight: lighter;
    max-width: 60%;
    font-size: clamp(0.8rem, 1.2vw, 1.3rem);
/*    font-size: 1.3rem;  */
/*    font-size: 0.8rem; */
    margin-bottom: 5px; 
  }
  .top-left > button {
    margin: 0;
    margin-top: 15px;
    font-size: 11px;
  }
    
  /* Bottom right text */
  .bottom-right {
    color: red;
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
/* Welocme section */
.welcome-section {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-left: 7rem; 
    margin-top: -3px;
}

.welcome-section > img {
    height: 100%;
    opacity: 0.3;
}

.welcome-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: clamp(0.7rem, 1.1vw, 0.8rem);
/*    margin-top: 80px; */
}
.welcome-text > h1 {
    color: #0945c4;
}
.welcome-text > p {
    margin-top: 20px;
    max-width: 70%;
}

/* Why section */
.why-section {
    background-color: #24367f;
    color: white;
    padding-top: 3%;
}
.why-section > h1 {
    text-align: center;
    font-weight: lighter;
}
.why-button {
    padding: 0px 30% ;
    text-align: center;
}
.why-button > button {
    font-size: 0.8rem;
    margin-bottom: 5%;
}
.why-cards {
/*    display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3% 3%;
}
.card > img {
    width: 25%;
    height: 40%;
    margin-left: 20%
}
.card > h3 {
    font-size: 100%;
    font-weight: lighter;
    padding: 10px;
}
.card > ul > li {
    font-size: 75%;
    max-width: 80%;
}
.card > ul {
    padding-left: 25px; 
}
.card > ul > li::marker {
    color: orange;
}

@media screen and (max-width: 900px) {
        * {
/*            border: 1px solid limegreen !important;  */
        }

        /* Header Section */
        header {
            padding: 5px;
        }
        
        .header-elements > p {
            padding: 1%;
        }
        button {
            padding: 5px 10px;
            font-size: 0.5rem;
        } 
        .navbar > ul > li > img {
            height: 45px;
            margin: -15px -10px;
            padding-right: 1px;
        }
        .navbar > ul > li > a {
            font-size: 9px;
            padding: 2px 5px; 
        }
        
        /* The dropdown container */
        .dropdown {
            margin-top: 5px;
        }

        /* Dropdown button */
        .dropdown .dropbtn {
            font-size: 9px;
            padding: 14px 5px; 
            margin: 0; /* Important for vertical align on mobile phones */
        }

        /* Image Text */
        .top-left {
            position: absolute;
            top: 35%;
            left: 1%;
            text-align: justify;
            margin-left: 60px;
        }
        .top-left > h2 {
            font-weight: 1;
        /*    font-size: 2vw;  */
            padding-bottom: 10px;
        }
                  
          .top-left > button {
/*            padding: 5px 10px;
            font-size: 0.6rem; */
          } 
            
          /* Bottom right text */
          .bottom-right {
            color: red;
            position: absolute;
            bottom: 8px;
            right: 16px;
          }

          /* Welcome section */
          .welcome-text > h1 {
            font-size: 1.1rem
          }
          /* Why section */
        .why-section > h1 {
            font-size: 18px;
        }
        .why-button {
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .why-button > button {
            font-size: 0.6rem;
        }
        .why-cards {
            margin: 3% 3%;
        }
        .card > img {
            width: 20%;
            margin-left: 20%
        }
        .card > h3 {
            font-size: 70%;
            padding: 7px;
        }
        .card > ul > li {
            font-size: 1.3vw;
        }
}

@media screen and (max-width: 650px){

    button {

    }
    .navbar > ul {
        display: none;
    }
    .top-left {
        position: absolute;
        top: 15%;
        left: 5%;
        text-align: justify;
        margin-left: 0;
    }
    .top-left > h1 {
        font-size: 1.3rem;
    }
    .top-left > p {
        font-size: 0.7rem;
        max-width: 55%;
    }
    .top-left > button {
        font-size: 0.5rem;
    }

        .welcome-section {
        grid-template-columns: 30% 70%;
        padding-left: 4rem; 
        margin-top: -3px;
    }

    .welcome-text > h1 {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .welcome-text > p {
        font-size: 0.6rem;
        max-width: 90%;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .why-button {
        margin-top: 20px;
    }
    .why-button button {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 480px){
    * {
/*        outline: 1px solid limegreen !important;     */
    }
    .navbar {
        height: 30px;
    }

    .container {
        height: 200px;
    }
    .container img {
        height: 100%;
    }
    .why-section h3 {
        font-size: 0.6rem;
    }

    .welcome-section {
        padding-left: 2rem; 
    }

    .why-cards {
        /*    display: flex; */
            display: grid;
            grid-template-columns: auto auto auto auto;
            margin: 2% 2%;
        }
        
        .card > ul {
            padding-left: 10px; 
        }

        .card > ul > li {
            font-size: 0.4rem;
            margin: 5%;
            max-width: 90%;
        }

        .card > img {
            height: 23%;
        }
        .why-button {
            margin-top: 1px;
        }
        .why-button button {
            font-size: 0.5rem;
        }


}