/* Container holding the image and the text */
.explore-section {
  margin-top: 20px;
    position: relative;
    text-align: center;
    color: white;
    background-color: aliceblue;
}

.explore-section img {
  height: 400px;
}
  /* Top left text */
  .left {
    position: absolute;
    top: 15%;
    left: 1%;
    text-align: justify;
    margin-left: 7%;
  }
  .left > h2 {
    font-weight: 1;
    font-size: 2.5vw;
  } 
  .left > hr {
    border: 3px solid orange;
    border-collapse: collapse;
    background-color: orange;
    width: 100px;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left > p {
    font-weight: lighter;
    font-size: 1.2vw;
    max-width: 50%;
    margin-bottom: 5px;
  }
  .left > button {
    margin: 0;
    margin-top: 15px;
    font-size: 70%;
    background-color: orange;
  }  
  
  @media screen and (max-width: 900px) {
    .explore-section > img {
        height: 300px;
    }
    .left > hr {
      border: 2px solid orange;
    } 
    .left > h2 {
        font-size: 20px;
    }
    .left > p{
        font-size: 10px;
    }
    .low{
        font-size: 100px;
    }
    .left > button {
      font-size: 50%;
      background-color: orange;
    }
  }

  @media screen and (max-width: 480px){
    .explore-section img {
      height: 280px;
    }
    .left > button {
      font-size: 8px;
    }
    .left > hr {
      border: 1px solid orange;
    }
    .left > p {
      max-width: 70%;
      margin-bottom: 5px;
    }
  }

