.footer {
    background-color: rgb(10, 10, 35);
    color: white;
    text-align: justify;
}

.footer > hr {
    border: 0.1px solid white;
    border-collapse: collapse;
}
.footer >h3 {
    padding: 0;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer > p {
    margin-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-body-content {
    padding: 20px 70px;
    padding-bottom: 20px;
}
.footer-body-content > p {
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 20px;
}

.footer-body-content > h4 {
    padding-bottom: 10px;
}

.footer-body-content > span {
    margin-top: 60px;
}

.footer-container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 5px;
}

.image-text {
    padding-left: 10px;
}