.join-section {
     
    background-image: url("../image/mobile\ mt4.png");
    background-size: 25%;
/*    background-size: contain; */
    background-repeat: no-repeat;
    background-position-x: 10%;
/*    background-position-x: 200px; */
    background-position-y: 40px;
    display: flex;
    justify-content: flex-end;

}

.join-content {
/*    position: absolute; */
/*    right: 25%;  */
    padding-bottom: 50px;
    max-width: 400px;
    margin-right: 20%;
    margin-top: 7%;
    text-align: left;

}
.join-content > p {
    width: 100%;
}

.joinUs {
    color: orange;
    font-size: 1rem;
    font-weight: lighter;
}

.joinStart {
    color: #0945c4;
    font-size: clamp(1.4rem, 2.0vw, 2.2rem)
}
.btn-group {
    display: flex;
    margin: 0;
    padding: 0;
}

.btn-group > button {
    display: flex;
/*    height: 2.5vw; */
/*    height: 50px; */
    height: 40px;
    margin: 3px;
    margin-top: 10px;
    padding: 0;
    padding-right: 10px;
    background-color: white;
    color: #0945c4;
    border: 2px solid #1258f0;
}
.btn-group > button:hover {
    background-color: rgb(60, 60, 249);
    color: white;
}

.btn-group > button > img {
    margin: 0;
    height: 100%;
/*    padding-bottom: 10px; */
/*    border: 1px solid #0945c4; */
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: #0945c4;
}
.btn-group > button > p {
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
    padding-left: 3px;
/*    padding-top: 4%; */
}

.btn-group > button > p > b {
    font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
    .join-content {
        margin-right: 5%;
    }

    .joinUs {

    }
    .joinStart {
/*        font-size: clamp(1.4rem, 2.0vw, 2.2rem) */
        font-size: 1.2rem;
    }
    .join-content > p {
        font-size: 0.7rem;
        width: 80%;
    }
    .btn-group > button {
        height: 30px;
        margin: 3px;
        margin-top: 10px;
        border: 1px solid #0945c4;
    }
    .btn-group > button > p {
        font-size: 0.6rem;
    }
    
    .btn-group > button > p > b {
        font-size: 0.7rem;
    }
    
}

@media screen and (max-width: 650px){
    .joinStart {
        /*        font-size: clamp(1.4rem, 2.0vw, 2.2rem) */
        font-size: 0.8rem;
    }

    .join-content {
        width: 300px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 480px){
    .join-content {
        width: 250px;
        margin-right: 0;
    }
    .joinUs {
        font-size: 0.8rem;
    }
    .joinStart {
/*        font-size: clamp(1.4rem, 2.0vw, 2.2rem) */
        font-size: 0.9rem;
    }
    .join-content > p {
        font-size: 0.6rem;
        width: 80%;
    }

    .btn-group > button {
        height: 25px;
        margin: 3px;
        margin-top: 10px;
        border: 1px solid #0945c4;
    }
    .btn-group > button > p {
        font-size: 0.5rem;
    }
    
    .btn-group > button > p > b {
        font-size: 0.6rem;
    }

}








