.flickity-button {
    background: blue;
}

.flickity-button:hover {
    background: darkblue;
}

.flickity-prev-next-button {
    width: 2%;
    height: 10%;
    border-radius: 5px;
    margin: 0px 2% 0px 2.5%;
}

/* icon color */
.flickity-button-icon {
    fill: black;
    color: blue;
    padding: 3px 3px;
}

.learnSec {
    background-color: aliceblue;
    color: aliceblue;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-top: 20px;
}

.card-content {
    border: 0.1px solid white; 
    border-radius: 10px; 
    width: 25%;
    background-color: white; 
    margin: 0px 5% 0px 5%;
}

.card-content img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.Lcard {
    background-color: white;
    margin: 0;
    padding: 0px 5% 0px 5%;
}

.Lcard h3 {
    color: #0945c4;
    max-width: 80%;
    font-size: clamp(0.8rem, 1.3vw, 1.5rem);
}

.Lcard p {
    margin-top: 10px;
    font-size: clamp(0.5rem, 0.9vw, 1rem);
}
.summary {
    color: black;
}
.hide-txt {
    padding-top: 10px;
    color: orange;
    padding-bottom: 5%;
}

@media screen and (max-width: 650px){

    .Lcard h3 {
        color: #0945c4;
        max-width: 100%;
        font-size: 0.7rem;
    }
    .flickity-prev-next-button {
    }
}


@media screen and (max-width: 480px){
    .flickity-prev-next-button {
        width: 2%;
        height: 10%;
        border-radius: 5px;
        margin-left: -10px;
        margin-right: -10px;
        margin-top: -20px;
    }
    .learnSec {
        padding-left: 3%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Lcard h3 {
        color: #0945c4;
        max-width: 100%;
        font-size: 0.6rem;
    }
    .Lcard p {
        font-size: 0.5rem;
    }
    .card-content img {
        height: 5rem;
    }
    .card-content {
        border: 0.1px solid white; 
        border-radius: 10px; 
        width: 28%;
        background-color: white; 
        margin: 0px 5% 0px 5%;
    }
    .card-content {
        border: 0.1px solid white; 
        border-radius: 10px; 
        background-color: white; 
        margin-right: 1px;
        height: 200px;
        overflow: hidden;
    }

}