.open-section {
    background-color: #0945c4;
    padding: 35px 35px;
    color: white;
    text-align: center;
}

.open-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 3% 3%;
}
.o-Card {
    text-align: justify;
    margin: 3%;
}

.o-Card > h3 {
    font-weight: lighter;
    padding-left: 0;
}

.open-section > h1,h2 {
    font-weight: lighter;
}

.o-Card > p{
    max-width: 60%;
}

.open-section > button {
    margin: 0;
    margin-right: 10px;
    margin-top: 10px;

}

.orange-btn {
    border: none;
    background-color: orange;
}
.orange-btn:hover {
    background-color: rgb(211, 120, 8);
}
.normal-btn {
    border: 1px solid white;
}

@media screen and (max-width: 900px) {
    .open-section {
        padding: 10px 10px;
    }
    .open-section > h1 {
       /* color: red; */
        font-size: 1.3rem;
    }
    .open-section > h2 {
        font-size: 1.1rem;
    }
    .o-Card > h3 {
        font-size: 0.9rem;
    }
    .open-cards {
        margin: 2% 2%;
    }
    .o-Card > p{
        font-size: 0.7rem;
        max-width: 80%;
    }
    .o-Card > img {
        height: 30px;
    }
}

@media screen and (max-width: 480px){
    .open-section {
        padding: 10px 5px;
    }
    .open-section > h1 {
        font-size: 1rem;
    }
    .open-section > h2 {
        font-size: 0.9rem;
    }
    .o-Card > img {
        height: 20px;
    }
    .o-Card > h3 {
        font-size: 0.7rem;
    }
    .o-Card > p{
        font-size: 0.5rem;
        max-width: 100%;
    }
}