/* Table section */
.table-section {
    text-align: center;
}
.table-section > h2 {
    color: #0945c4;
    margin-top: 30px;
}
.table-section > p {
    padding-top: 10px;
    width: 35%;
    font-size: 1vw;
    margin-right: auto;
    margin-left: auto;
}
.table-section > button {
    font-size: 12px;
    margin-top: 25px;
}
table {
    border-radius: 8px;
    margin-top: 20px;
    font-family: arial, sans-serif;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    border-collapse: collapse;
    border: 1.5px solid black;
}
th {
    color: #0945c4;
    font-size: 15px;
    font-weight: lighter;
    padding: 13px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: black;
    border-left-style: solid;
    border-left-width: 2.0px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-right-color: black;
}
td {
    border: none;
    padding: 15px;
}
tr:nth-child(even) {
    background-color: #ebe8e8;
}

@media screen and (max-width: 900px) {
    table {
        border: 0.5px solid ;
    }

    th {
        border-bottom-width: 0.5px;
        border-left-width: 0.5px;
        border-right-width: 0.5px;
    }
    .table-section > h2 {
        font-size: 20px;
    }
    .table-section > p {
        font-size: 9px;
        width: 15rem;
    }
    .table-section > button {
        font-size: 0.6rem;
    }
    th {
        font-size: 14px;
        padding: 10px;
    }
    td {
        font-size: 11px;
        border: none;
        padding: 12px;
    }

}

@media screen and (max-width: 650px){
    th {
        font-size: 0.7rem;
        padding: 5px;
    }
    td {
        font-size: 0.6rem;
        border: none;
        padding: 9px;
    }

    .table-section > h2 {
        font-size: 1rem;
    }
}